testing/
node_modules/
src/
!template/src/
!dist/
tests/

.prettierrc.json
seed.json
tsconfig.json
pnpm-lock.yaml
.eslintignore
.eslintrc.json
.seed
.vscode/
.github/
.eslintrc.js
jest.config.js

# Patch generation
.moz-central
patches.sh